Repository robsoninocencio/nextjs-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,md,html}": ["prettier --write"],
  "*.{ts,tsx}": ["bash -c 'tsc --noEmit'"]
}

aplicando estilo degrade para percentage de rendimento
  app/ui/investimentos/desktop-table.tsx
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

alterado o numero de investimentos por pagina
  lib/investimentos/data.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

ajustando expacamento estre colunas
  TODO.md
  app/ui/investimentos/buttonLinkDelete.tsx
  app/ui/investimentos/desktop-table.tsx
  app/ui/shared/buttonLinkUpdate.tsx
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

add coluna de Rendimento
  app/ui/investimentos/desktop-table.tsx
  app/ui/investimentos/mobile-table.tsx
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

exportando investimentos cadastrados
  scripts/data/ativo_categoria.json
  scripts/data/ativos.json
  scripts/data/investimentos.json
Due: prettier --write

add dashboard para investimentos
  TODO-ANALYTICS.md
  app/dashboard/investimentos/page.tsx
  app/ui/investimentos/diversification-charts.tsx
  app/ui/investimentos/metrics-cards.tsx
  app/ui/investimentos/performance-chart.tsx
  app/ui/investimentos/profitability-chart.tsx
  lib/investimentos/analytics.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

ajustes
  lib/investimentos/analytics.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

fix: corrigir caminhos de importação e tipos após reorganização da estrutura de pastas
  app/dashboard/investimentos/[id]/edit/page.tsx
  app/dashboard/investimentos/page.tsx
  app/ui/investimentos/buttonLinkDelete.tsx
  app/ui/investimentos/create-form.tsx
  app/ui/investimentos/desktop-table.tsx
  app/ui/investimentos/edit-form.tsx
  app/ui/investimentos/form.tsx
  app/ui/investimentos/mobile-table.tsx
  app/ui/investimentos/table.tsx
  modules/investimentos/actions/investimento-actions.ts
  modules/investimentos/analytics/investimento-analytics.ts
  modules/investimentos/data/investimentos.ts
  modules/investimentos/types/investimento.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Estrutura do Projeto e Organização
  app/dashboard/investimentos/[id]/edit/page.tsx
  app/ui/investimentos/buttonLinkDelete.tsx
  app/ui/investimentos/create-form.tsx
  app/ui/investimentos/desktop-table.tsx
  app/ui/investimentos/edit-form.tsx
  app/ui/investimentos/form.tsx
  app/ui/investimentos/table.tsx
  lib/actions/investimentos.ts
  lib/definitions.ts
  modules/investimentos/data/investimentos.ts
  modules/investimentos/types/investimento.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

remocao de arquivos desnecessarios
  README-FASE4.md
  TODO-ANALYTICS.md
  TODO-FASE3-ATUALIZADO.md
  TODO-FASE3.md
  TODO-SIDEBAR-CORRECTIONS.md
  TODO-SIDEBAR-FEATURE.md
  lib/shared/types.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

ajustando paginacao de investimento
  modules/investimentos/analytics/investimento-analytics.ts
  modules/investimentos/data/investimentos.ts
  pnpm-lock.yaml
  scripts/data/ativo_categoria.json
  scripts/data/ativos.json
  scripts/data/bancos.json
  scripts/data/categorias.json
  scripts/data/clientes.json
  scripts/data/investimentos.json
  scripts/data/invoices.json
  scripts/data/revenue.json
  scripts/data/tipos.json
  scripts/data/users.json
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

ajustando grafico
  app/ui/investimentos/performance-chart.tsx
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

add funcao que copia investimentos
  app/dashboard/investimentos/page.tsx
  lib/actions/investimentos.ts
  lib/placeholder-data.ts
  modules/investimentos/actions/investimento-actions.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

ajustando decimais
  app/ui/investimentos/form.tsx
  components/shared/currency-input.tsx
  package.json
  pnpm-lock.yaml
  scripts/data/ativo_categoria.json
  scripts/data/ativos.json
  scripts/data/bancos.json
  scripts/data/categorias.json
  scripts/data/clientes.json
  scripts/data/investimentos.json
  scripts/data/invoices.json
  scripts/data/revenue.json
  scripts/data/tipos.json
  scripts/data/users.json
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

ajustes
  app/dashboard/bancos/page.tsx
  app/dashboard/categorias/page.tsx
  app/dashboard/clientes/page.tsx
  app/dashboard/invoices/page.tsx
  app/dashboard/tipos/page.tsx
  components/shared/search.tsx
  lib/actions/investimentos.ts
  modules/investimentos/data/investimentos.ts
  scripts/data/ativo_categoria.json
  scripts/data/ativos.json
  scripts/data/categorias.json
  scripts/data/investimentos.json
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

ajustes
  app/dashboard/investimentos/page.tsx
  app/ui/investimentos/form.tsx
  lib/actions/investimentos.ts
  scripts/data/ativo_categoria.json
  scripts/data/ativos.json
  scripts/data/categorias.json
  scripts/data/investimentos.json
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

cadastro de investimentos 11 2024
  scripts/data/ativo_categoria.json
  scripts/data/ativos.json
  scripts/data/investimentos.json
  tsconfig.tsbuildinfo
Due: prettier --write

lancamento 01 2025
  scripts/data/investimentos.json
Due: prettier --write

ajustes
  components/shared/currency-input.tsx
  modules/investimentos/data/investimentos.ts
  pnpm-lock.yaml
  scripts/data/ativo_categoria.json
  scripts/data/ativos.json
  scripts/data/bancos.json
  scripts/data/categorias.json
  scripts/data/clientes.json
  scripts/data/investimentos.json
  scripts/data/invoices.json
  scripts/data/revenue.json
  scripts/data/tipos.json
  scripts/data/users.json
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

build
  tsconfig.tsbuildinfo
Due: none

atualizacao
  modules/investimentos/data/investimentos.ts
  scripts/data/ativo_categoria.json
  scripts/data/ativos.json
  scripts/data/bancos.json
  scripts/data/categorias.json
  scripts/data/clientes.json
  scripts/data/investimentos.json
  scripts/data/invoices.json
  scripts/data/revenue.json
  scripts/data/tipos.json
  scripts/data/users.json
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

lancamento 06 2025
  scripts/data/investimentos.json
Due: prettier --write

modified: app/ui/investimentos/form.tsx modified: lib/actions/investimentos.ts modified: scripts/data/investimentos.json modified: tsconfig.tsbuildinfo
  app/ui/investimentos/form.tsx
  lib/actions/investimentos.ts
  scripts/data/investimentos.json
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

lancamento 08 2025
  app/dashboard/investimentos/page.tsx
  app/ui/investimentos/form.tsx
  lib/actions/investimentos.ts
  modules/investimentos/analytics/investimento-analytics.ts
  scripts/data/investimentos.json
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

ajustes
  app/ui/investimentos/form.tsx
  lib/actions/investimentos.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

lancamento 09 2025
  app/ui/investimentos/form.tsx
  lib/actions/investimentos.ts
  scripts/data/ativo_categoria.json
  scripts/data/ativos.json
  scripts/data/investimentos.json
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

ajuste
  tsconfig.tsbuildinfo
Due: none

atualizacao
  pnpm-lock.yaml
  tsconfig.tsbuildinfo
Due: none
